<%= form_with(model: [@event, bag_location]) do |form| %>
  <% if bag_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bag_location.errors.count, "error") %> prohibited this bag_location from being saved:</h2>

      <ul>
        <% bag_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :location, class: 'form-label'%>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <%= form.fields_for :customer, @bag_location.customer do |customer_form| %>
    <div class="mb-3">
      <%= customer_form.label :first_name, class: 'form-label' %>
      <%= customer_form.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= customer_form.label :last_name, class: 'form-label' %>
      <%= customer_form.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= customer_form.label :phone_number, class: 'form-label' %>
      <%= customer_form.telephone_field :phone_number, class: 'form-control' %>
    </div>
  <% end %>
  <div class="py-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
