<p>
  <strong>Location:</strong>
  <%= @bag_location.location %>
</p>

<p>
  <strong>Event:</strong>
  <%= @bag_location.event.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @bag_location.customer.full_name + ': ' + @bag_location.customer.formatted_phone %>
</p>

<%= link_to 'Edit', edit_event_bag_location_path(@event, @bag_location) %> |
<%= link_to 'Back', event_bag_location_path(@event) %>
