<h1>Events</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each_with_index do |event, index| %>
      <tr>
        <th scope="row"><%= link_to (index + 1).to_s, event %></th>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td>
          <%= link_to edit_event_path(event) do %>
            <%= fa_icon "edit" %>
          <% end %>
        </td>
        <td>
          <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon "trash" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_event_path do %>
  <button type="button" class="px-5 btn btn-primary">New Event</button>
<% end %>
