<h1>
  <%= @event.name %>
  <%= link_to edit_event_path(@event), class: '' do %>
    <%= fa_icon "edit" %>
  <% end %>
</h1>

<div class="row">
  <h4><%= @event.date %></h4>
</div>

<div class="py-5">
  <%= link_to new_event_bag_location_path(@event) do %>
    <button type="button" class="px-5 btn btn-primary">Add Bag</button>
  <% end %>
</div>

<h2>Bag Locations</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Location</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Remind</th>
  </tr>
  </thead>

  <tbody>
  <% @event.bag_locations.each_with_index do |bag_location, index| %>
    <tr>
      <th scope="row"><%= link_to (index + 1).to_s, [@event, bag_location] %></th>
      <td><%= bag_location.location %></td>
      <td><%= bag_location.customer.full_name %></td>
      <td><%= bag_location.customer.formatted_phone %></td>
      <td>
        <%= link_to remind_event_bag_location_path(@event, bag_location) do %>
          <%= fa_icon "bell" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="py-5">
  <%= link_to 'Edit Event', edit_event_path(@event) %> |
  <%= link_to 'All Bags', event_bag_locations_path(@event) %> |
  <%= link_to 'All Events', events_path %>
</div>