<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :phone_number, class: 'form-label' %>
    <%= form.telephone_field :phone_number, class: 'form-control' %>
  </div>

  <div class="py-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
