<h1>Customers</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each_with_index do |customer, index| %>
      <tr>
        <th scope="row"><%= link_to (index + 1).to_s, customer %></th>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.formatted_phone %></td>
        <td>
          <%= link_to edit_customer_path(customer) do %>
            <%= fa_icon "edit" %>
          <% end %>
        </td>
        <td>
          <%= link_to customer, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon "trash" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
