<div class="mb-3">
  <strong>First name:</strong>
  <%= @customer.first_name %>
</div>

<div class="mb-3">
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</div>

<div class="mb-3">
  <strong>Phone number:</strong>
  <%= @customer.formatted_phone %>
</div>

<strong>Events Attended</strong>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Date</th>
  </tr>
  </thead>

  <tbody>
  <% @customer.events.each_with_index do |event, index| %>
    <tr>
      <th scope="row"><%= link_to (index + 1).to_s, event %></th>
      <td><%= event.name %></td>
      <td><%= event.date %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<strong>Chat</strong>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Message Sent</th>
    <th scope="col">Message Received</th>
  </tr>
  </thead>

  <tbody>
  <% @customer.text_chats.each do |text_chat| %>
    <tr>
      <td><%= simple_format(text_chat.message_text) unless text_chat.response %></td>
      <td><%= simple_format(text_chat.message_text) if text_chat.response %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="mb-3">
<%= link_to new_customer_text_chat_path(@customer) do %>
  <button type="button" class="px-5 btn btn-success">New Text Message</button>
<% end %>
</div>

<div class="mb-3">
  <%= link_to 'Edit', edit_customer_path(@customer) %> |
  <%= link_to 'Back', customers_path %>
</div>